<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Clientes</title>
    <!-- Adicionar os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cadastro de Clientes</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <h1 class="text-center">Bem-vindo à nossa API de Cadastro de Clientes!</h1>
            <p class="text-center">Utilize nossa API para cadastrar, atualizar e buscar clientes.</p>
            <div class="d-grid gap-2 col-md-6 mx-auto mt-4">
                <a href="#" class="btn btn-primary">Cadastrar novo cliente</a>
            </div>
        </div>
    </div>
</div>

<!-- Adicionar os arquivos JS do Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-mHxT+5ZFxXp7STH+CVJrLw6/J20UyjgkLfYFTJhCYMIXyzdNLWZMnBl+pjKmt2Q5w6SdUkQjK5J5tr5OnUsx4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js" integrity="sha512-rPXbWUCm8mCNhBzCfjSNfLl/gC9FyyhKbupK2Bwv+lzWj1HsLO+TBsGQIaTnpTtEdX8L+1NSavTgHZJv1DBWdQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-1PRkUjJ6WsPj6zbgB+U96Gr6zgD09jKpJvgHKbFPTf96l2Qg/BegBrhjWTTy8hrJjzpx2sM/qcpHPFRW9X8xjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
