<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Clientes</title>
    <!-- Adicionar os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cadastro de Clientes</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <h1 class="text-center">Bem-vindo à nossa API de Cadastro de Clientes!</h1>
            <p class="text-center">Utilize nossa API para cadastrar, atualizar e buscar clientes.</p>
            <div class="d-grid gap-2 col-md-6 mx-auto mt-4">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCadastro">Cadastrar novo cliente</a>

                <button type="button" class="btn btn-secondary" onclick="atualizarTabela()">Listar Clientes Cadastrados</button>
                <!-- HTML do elemento de mensagem -->
                <div id="mensagemtabelaatualizada" class="alert alert-danger" style="display: none;"></div>
                <!-- HTML do elemento de mensagem -->
                <div id="mensagem" class="alert alert-success" style="display: none;"></div>
            </div>
            <div class="table-responsive mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Senha</th>
                    </tr>
                    </thead>
                    <tbody id="tabela-clientes">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal de cadastro de clientes -->
    <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="modalCadastroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCadastroLabel">Cadastrar novo cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="login" class="form-label">Login</label>
                            <input type="text" class="form-control" id="login" required>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="cadastrarCliente()">Salvar</button>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Adicionar os arquivos JS do Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
<script>

    var apiUrl;
    if (window.location.hostname === "localhost") {
        apiUrl = "http://localhost:8080";
    } else {
        apiUrl = "https://apirestcadastro.herokuapp.com";
    }
    function atualizarTabela() {
        $.getJSON(apiUrl + "/api/usuario/listar", function(data) {
            if (data.length === 0) {
                // Exibe uma mensagem de alerta caso não haja clientes cadastrados
                $("#mensagemtabelaatualizada").html("Não há clientes cadastrados.").fadeIn('slow');
                $("#mensagemtabelaatualizada").fadeOut('slow');
                return;
            }

            var tabela = document.getElementById("tabela-clientes");
            tabela.innerHTML = "";
            for (var i = 0; i < data.length; i++) {
                var codigo = data[i].codigo;
                var nome = data[i].nome;
                var login = data[i].login;
                var senha = data[i].senha;
                tabela.innerHTML += "<tr><td>" + codigo + "</td><td>" + nome + "</td><td>" + login + "</td><td>" + senha + "</td></tr>";
            }
        }).fail(function(jqXHR, textStatus, errorThrown) {
            // Exibe uma mensagem de erro caso ocorra algum problema na requisição
            $("#mensagemtabelaatualizada").html("Erro ao atualizar tabela: " + errorThrown).fadeIn('slow');
            $("#mensagemtabelaatualizada").fadeOut('slow');
        });
    }

</script>

<script>
    function cadastrarCliente() {
        // Obtém os valores dos campos do formulário
        var nome = $("#nome").val();
        var login = $("#login").val();
        var senha = $("#senha").val();

        // Cria um objeto com os dados a serem enviados
        var dados = {nome: nome, login: login, senha: senha};

        // Envia os dados para o endpoint de salvamento do usuário
        $.ajax({
            url: apiUrl + "/api/usuario/cadastrar",
            type: "POST",
            data: JSON.stringify(dados),
            contentType: "application/json",
            success: function(result, status, xhr) {
                // Verifica se o status code da resposta é 200 (OK)
                if(xhr.status === 200) {
                    // Limpa os campos do formulário
                    $("#nome").val("");
                    $("#login").val("");
                    $("#senha").val("");
                    // Fecha o modal com os dados
                    $("#modalCadastro").modal("hide");
                    // Exibe a mensagem de sucesso
                    $("#mensagem").html("Cadastro realizado com sucesso.").fadeIn();
                    $("#mensagem").fadeOut('slow');
                    atualizarTabela();
                }
            },
            error: function(xhr, status, error) {
                // Exibe uma mensagem de erro caso ocorra algum problema na requisição
                alert("Erro ao salvar usuário: " + error);
            }
        });
    }

</script>

</html>
